
a{
    text-decoration: none;
}

.conteudo{
    height: 470px;
    background-color: white;
    border: transparent;
    margin: auto;
    margin-top: 10px;
}

/* duvidas */

.duvidas{
    height: 470px;
    overflow: auto;
    border: 1px solid;
    border-left: transparent;
}

.duvida{
    border: 1px solid black;
    width: 500px;
    margin: auto;
    margin-top: 5px;
}

h2{
    margin-left: 10px;
}

h3{
    margin-left: 10px;
    text-align: center;
}

p{
    margin-left: 5px;
}

/* filtros de duvidas 

#filtros{
    float: left;
    border: 1px solid black;
    width: 250px;
    height: 468px;
    overflow: auto;
}
*/

/* responder */

#topico{
    float: right;
}

#btn-topico{
    width: 90px;
    height: 30px;
    background-color: blue;
    color: white;   
    margin-top: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}


